{% load static %}
<html>
    <head>
        <title>QCAIR In-Kind Contribution Application</title>
        <link rel="stylesheet" href="{% static 'css/inkind.css' %}" />
    </head>
    <body>
        <header>
        <nav class="user-info">
            {% if user.is_authenticated %} Welcome, {{ user.username }}
                <a href="{% url 'logout' %}">Log out</a>
            {% else %}
                <a href="{% url 'login' %}">Login</a>
                <a href="{% url 'signup' %}">Signup</a>
            {% endif %}
        </nav>
        </header>
        <div>
        </div>
        <h1>In-Kind Contribution Reporting System</h1>
        <p>Thank you for supporting QCAIR!</p>
        <nav>
            <a href="/services">Services</a>
            <a href="/">Volunteers</a>
        </nav>
        <div class='body'>
        {% block content %} {% endblock %} 
        </div>           
    </body>
</html>