{% extends 'inkind/base.html' %} {% block content %}
<h3>{{ service.volunteer }} 
    <a href="{% url 'service_edit' pk=service.pk %}"> (edit) </a>
</h3>
<h4>Contribution report for: {{ service.service_dates }}</h4>
<p>
    <div>Fiscal Year: {{ service.year }}</div>
    <div>Fiscal Month: {{ service.month }}</div>
</p>
<p>
    <div>Total Hours Worked: {{ service.hours_worked }}</div>
    <div>Hourly Service Rate: ${{ service.hourly_rate }}</div>
    <div>Total Contribution: ${{ service.total_value_of_service }}<div>
</p>
<img src="{{service.preview_url}}" alt="" />
<p>
    <span class="description">
        Description of services provided: 
    </span>
        {{ service.description }}
</p>
<div>
    <a href="{% url 'service_delete' pk=service.pk %}" class='delete' 
        onclick="return confirm('Are you sure you want to delete this?')">
        Delete
    </a>
</div>
{% endblock %}